<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">

  <h5 cdkDragHandle class="p-3 title-bg">
    Admission Edit<button style="color:white" class="close" (click)="dialogClose()" aria-label="Close">
      <span aria-hidden="true">X</span>
    </button>
  </h5>
  <div class="white mt-0 mb-2" *ngIf="this.data">
    <mat-card class="mb-2">
      <app-patient-demographic [PatID]="this.data.PatientID"></app-patient-demographic>
    </mat-card>
  </div>
  <form [formGroup]="newAdmissionEditForm" #ngForm="ngForm">
    <div class="white mt-4">
      <mat-card class="px-3 py-1 overFlow500">
        <div class="row pb-1">

          <div class="col-xl-12 mt-2 mb-2">
            <mat-radio-group (change)="setoriginRequired()" formControlName="generaladmission"
              aria-label="Blood Required">
              <mat-radio-button class="mr-5" value="General">General</mat-radio-button>
              <mat-radio-button class="ml-5" value="Emergency">Emergency</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-xl-3 pb-3 pt-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Admission Type</mat-label>
              <mat-select formControlName="AdmissionType">
                <mat-option *ngFor="let typ of admissionType" [value]="typ.AdmissionTypeID">
                  {{typ.AdmissionTypeDesc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-3 pb-3 pt-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label><span class="required-asterisk"
                  *ngIf="(newAdmissionEditForm.value.AdmissionDate == '' || newAdmissionEditForm.value.AdmissionDate == null) ? true : false"></span>Admission
                Date</mat-label>
              <input maxlength="10" matInput formControlName="AdmissionDate" [matDatepicker]="picker"  [min]="minDate"  >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-lg-3 pb-3 pt-3  timepick">
            <mat-form-field class="input-full-width timer w-100" appearance="outline">
              <input matInput [ngxTimepicker]="toggleTimepicker1" [disableClick]="true" formControlName="AdmissionTime">
              <mat-label>Admission Time</mat-label>
              <ngx-material-timepicker-toggle [for]="toggleTimepicker1">
              </ngx-material-timepicker-toggle>
              <ngx-material-timepicker #toggleTimepicker1>
              </ngx-material-timepicker>
            </mat-form-field>
          </div>

          <div class="col-lg-3 pb-3 pt-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Admission Number</mat-label>
              <input maxlength="15" matInput readonly formControlName="AdmissionNo">
            </mat-form-field>
          </div>

          <div class="col-xl-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label> Facility </mat-label>
              <input matInput [value]="searchfacilityName">
              <!-- <mat-select formControlName="Facility">
                    <mat-option *ngFor="let typ of SearchfacilityData" [value]="typ.FacilityId"
                      (onSelectionChange)="GetsearchPhysicianData(typ.FacilityId)">
                      {{typ.FacilityName}}
                    </mat-option>
                  </mat-select> -->
            </mat-form-field>
          </div>

          <div class="col-xl-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk"
                  *ngIf="(newAdmissionEditForm.value.AdmitingPhysicianSurgeon == '' || newAdmissionEditForm.value.AdmitingPhysicianSurgeon == null) ? true : newAdmissionEditForm.value.AdmitingPhysicianSurgeon.length > 2 ? false : true"></span>Admiting
                Physician/Surgeon</mat-label>
              <mat-icon matSuffix
                *ngIf="(newAdmissionEditForm.value.AdmitingPhysicianSurgeon == '' || newAdmissionEditForm.value.AdmitingPhysicianSurgeon == null) ? true : newAdmissionEditForm.value.AdmitingPhysicianSurgeon.length > 2 ? false : true">
                search</mat-icon>
              <input placeholder="Type and Select" matInput maxlength="35" #autoCompletePhysician="matAutocompleteTrigger" (focus)="tovalidatePhysicianSearch()" [matAutocomplete]="physician"
                formControlName="AdmitingPhysicianSurgeon" />
              <mat-autocomplete autoActiveFirstOption #physician="matAutocomplete">
                <mat-option *ngFor="let option of admitingPhysicianSurgen" [value]="option.ProviderName"
                  (onSelectionChange)="setprocedurephysician(option.ProviderID)">
                  {{option.ProviderName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <!-- <div class="col-xl-2 ">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Speciality</mat-label>
              <mat-select formControlName="Specialities">
                <mat-option *ngFor="let typ of speciality" [value]="typ.TenantSpecialityID">
                  {{typ.TenantSpecialityDescription}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <div class="col-xl-6 ">
            <mat-form-field [matTooltip]="newAdmissionEditForm.get('AdmittingReason').value" matTooltipPosition="above"
              matTooltipClass="Tooltip-lg" appearance="outline" class="w-100">
              <mat-label><span class="required-asterisk"
                  *ngIf="(newAdmissionEditForm.value.AdmittingReason == '' || newAdmissionEditForm.value.AdmittingReason == null) ? true : false"></span>Admitting
                Reason</mat-label>
              <textarea maxlength="500" matInput formControlName="AdmittingReason" placeholder="Enter"
                rows="1"></textarea>
            </mat-form-field>
          </div>

          <div class="col-xl-6 ">
            <mat-form-field [matTooltip]="newAdmissionEditForm.get('preprocedureDiagnosis').value"
              matTooltipPosition="above" matTooltipClass="Tooltip-lg" class="w-100" appearance="outline">
              <mat-label> Pre-Procedure Diagnosis</mat-label>
              <textarea maxlength="500" matInput placeholder="Enter" rows="1"
                formControlName="preprocedureDiagnosis"></textarea>
            </mat-form-field>
          </div>

          <div class="col-xl-6 ">
            <mat-form-field class="w-100 " [matTooltip]="primaryICDcodetooltip" matTooltipPosition="above"
              matTooltipClass="Tooltip-lg" appearance="outline">
              <mat-label>Primary ICD Code</mat-label>
              <mat-icon matSuffix
                *ngIf="(newAdmissionEditForm.value.PrimaryICDCOde == '' || newAdmissionEditForm.value.PrimaryICDCOde == null) ? true : newAdmissionEditForm.value.PrimaryICDCOde.length > 2 ? false : true">
                search</mat-icon>
              <textarea matInput maxlength="500" placeholder="Type and Select" [matAutocomplete]="primaryICD" rows="1"
                formControlName="PrimaryICDCOde"></textarea>
              <mat-autocomplete autoActiveFirstOption #primaryICD="matAutocomplete">
                <mat-option *ngFor="let option of primaryicd"
                  (onSelectionChange)="setPrimaryIcdCode(option.ICDCode, option.Description)"
                  [value]="option.ICDCode+  ' ' +  option.Description ">
                  {{option.ICDCode}} - {{option.Description}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-xl-3 ">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk"
                  *ngIf="(newAdmissionEditForm.value.ProcedureType == '' || newAdmissionEditForm.value.ProcedureType == null) ? true : false"></span>Procedure
                Type</mat-label>
              <mat-select formControlName="ProcedureType">
                <mat-option *ngFor="let typ of ProcedureType" [value]="typ.ProcedureTypeID">
                  {{typ.ProcedureTypeDesc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xl-6 ">

            <mat-form-field [matTooltip]="newAdmissionEditForm.get('PlannedProcedure').value" matTooltipPosition="above"
              matTooltipClass="Tooltip-lg" class="w-100" appearance="outline">
              <mat-label> Planned Procedure</mat-label>
              <textarea maxlength="500" matInput placeholder="Enter" rows="1"
                formControlName="PlannedProcedure"></textarea>
            </mat-form-field>
          </div>

          <div class="col-xl-3 ">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk"
                  *ngIf="(newAdmissionEditForm.value.AdmitingPhysicianSurgeon == '' || newAdmissionEditForm.value.AdmitingPhysicianSurgeon == null) ? true : newAdmissionEditForm.value.AdmitingPhysicianSurgeon.length > 2 ? false : true"></span>Procedure
                Name(short):</mat-label>
              <mat-icon matSuffix
                *ngIf="(newAdmissionEditForm.value.AdmitingPhysicianSurgeon == '' || newAdmissionEditForm.value.AdmitingPhysicianSurgeon == null) ? true : newAdmissionEditForm.value.AdmitingPhysicianSurgeon.length > 2 ? false : true">
                search</mat-icon>
              <input maxlength="500" matInput placeholder="Type and Select" #autoCompleteProcedure="matAutocompleteTrigger" (focus)="tovalidateProcedure()" [matAutocomplete]="procedureName"
                formControlName="ProcedureName" />
              <mat-autocomplete autoActiveFirstOption #procedureName="matAutocomplete">
                <mat-option *ngFor="let option of procedurename" [value]="option.ProcedureDesc"
                  (onSelectionChange)="setprocedurename(option.ProcedureID)">
                  {{option.ProcedureDesc}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-xl-6">
            <mat-form-field class="w-100" [matTooltip]="primaryCPTcodetooltip" matTooltipPosition="above"
              matTooltipClass="Tooltip-lg" appearance="outline">
              <mat-label><span class="required-asterisk"
                  *ngIf="(newAdmissionEditForm.value.PrimaryCPTCode == '' || newAdmissionEditForm.value.PrimaryCPTCode == null) ? true : newAdmissionEditForm.value.PrimaryCPTCode.length > 2 ? false : true"></span>Primary
                CPT Code</mat-label>
              <mat-icon matSuffix
                *ngIf="(newAdmissionEditForm.value.PrimaryCPTCode == '' || newAdmissionEditForm.value.PrimaryCPTCode == null) ? true : newAdmissionEditForm.value.PrimaryCPTCode.length > 2 ? false : true">
                search</mat-icon>
              <textarea matInput placeholder="Type and Select"  #autoCompletecpt="matAutocompleteTrigger" (focus)="tovalidateCpt()"maxlength="500" [matAutocomplete]="primaryCPT" rows="1"
                formControlName="PrimaryCPTCode"> </textarea>
              <mat-autocomplete autoActiveFirstOption #primaryCPT="matAutocomplete">
                <mat-option *ngFor="let option of primarycpt"
                  (onSelectionChange)="setPrimaryCptCode(option.CPTCode, option.Description)"
                  [value]="option.CPTCode+ ' ' +  option.Description">
                  {{option.CPTCode}} - {{option.Description}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-xl-3 ">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk"
                  *ngIf="(newAdmissionEditForm.value.Urgency == '' || newAdmissionEditForm.value.Urgency == null) ? true : false"></span>Urgency
              </mat-label>
              <mat-select formControlName="Urgency">
                <mat-option *ngFor="let typ of UrgencyType" [value]="typ.UrgencyTypeId">
                  {{typ.UrgencyTypeDescription}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xl-3 ">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk"
                  *ngIf="(newAdmissionEditForm.value.PatientArrivalCondition == '' || newAdmissionEditForm.value.PatientArrivalCondition == null) ? true : false"></span>Patient
                Arrival Condition</mat-label>
              <mat-select formControlName="PatientArrivalCondition">
                <mat-option *ngFor="let typ of patientarrival" [value]="typ.PatientArrivalConditionId">
                  {{typ.PatientArrivalconditionDescription}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xl-3 ">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label> Patient Arrival By</mat-label>
              <mat-select formControlName="PatientArrivalBy">
                <mat-option *ngFor="let typ of patientArrivalBy" [value]="typ.PABID">
                  {{typ.PABDesc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xl-3 ">
            <mat-form-field class=" w-100 " appearance="outline">
              <mat-label><span class="required-asterisk"
                  *ngIf="(newAdmissionEditForm.value.PatientExpectedStay == '' || newAdmissionEditForm.value.PatientExpectedStay == null) ? true : false"></span>Patient
                Expected Stay</mat-label>
              <input maxlength="50" matInput placeholder="Enter" formControlName="PatientExpectedStay" />
            </mat-form-field>
          </div>

          <div class="col-xl-3 mt-3"
            [ngClass]="{'validate': ngForm.submitted && newAdmissionEditForm.get('AnsthesiaFittnessRequiredcheck').invalid}">
            <mat-label class="pr-2"><span class="required-asterisk"
                *ngIf="(newAdmissionEditForm.value.AnsthesiaFittnessRequiredcheck == '' || newAdmissionEditForm.value.AnsthesiaFittnessRequiredcheck == null) ? true : false"></span><b>Anesthesia
                Fittness Required :</b></mat-label>
            <mat-radio-group (change)="setAnsthesiaFittnessRequired()" formControlName="AnsthesiaFittnessRequiredcheck"
              aria-label="Ansthesia Fittness Required">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-xl-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Anesthesia Fittness Required</mat-label>
              <input matInput maxlength="50" placeholder="Ansthesia" formControlName="anethsiadesc" />
            </mat-form-field>
          </div>

          <div class="col-xl-3  mt-3 "
            [ngClass]="{'validate': ngForm.submitted && newAdmissionEditForm.get('Bloodcheck').invalid}">
            <mat-label class="pl-3 pr-3"><span class="required-asterisk"
                *ngIf="(newAdmissionEditForm.value.Bloodcheck == '' || newAdmissionEditForm.value.Bloodcheck == null) ? true : false"></span><b>Blood
                Required :</b></mat-label>
            <mat-radio-group (change)="setBloodRequired()" checked="true" formControlName="Bloodcheck"
              aria-label="Blood Required">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-xl-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label> Blood Required</mat-label>
              <input matInput maxlength="75" placeholder="BloodRequired" formControlName="Blooddesc" />
            </mat-form-field>
          </div>

          <div class="col-xl-3 ">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label><span class="required-asterisk"
                  *ngIf="(newAdmissionEditForm.value.IntialAdmissionStatus == '' || newAdmissionEditForm.value.IntialAdmissionStatus == null) ? true : false"></span>Intial
                Admission Status</mat-label>
              <mat-select formControlName="IntialAdmissionStatus">
                <mat-option *ngFor="let typ of admissionStatus" [value]="typ.AdmissionStatusID">
                  {{typ.AdmissionStatusDesc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xl-6">
            <mat-form-field [matTooltip]="newAdmissionEditForm.get('InstructionToPatient').value"
              matTooltipPosition="above" matTooltipClass="Tooltip-lg" class="w-100" appearance="outline">
              <mat-label> Instruction To Patient</mat-label>
              <textarea maxlength="500" matInput placeholder="Enter" rows="1"
                formControlName="InstructionToPatient"></textarea>
            </mat-form-field>
          </div>

          <div class="col-xl-6">
            <mat-form-field [matTooltip]="newAdmissionEditForm.get('AccompaniedBY').value" matTooltipPosition="above"
              matTooltipClass="Tooltip-lg" class="w-100" appearance="outline">
              <mat-label> Accompanied By</mat-label>
              <textarea maxlength="500" matInput placeholder="Enter" rows="1"
                formControlName="AccompaniedBY"></textarea>
            </mat-form-field>
          </div>

          <div class="col-xl-6">
            <mat-form-field [matTooltip]="newAdmissionEditForm.get('WardBeddetails').value" matTooltipPosition="above"
              matTooltipClass="Tooltip-lg" class="w-100" appearance="outline">
              <mat-label> Ward & Bed Details</mat-label>
              <textarea maxlength="500" matInput placeholder="Enter" rows="1"
                formControlName="WardBeddetails"></textarea>
            </mat-form-field>
          </div>

          <div class="col-xl-6">
            <mat-form-field [matTooltip]="newAdmissionEditForm.get('EnterAdditionalInformation').value"
              matTooltipPosition="above" matTooltipClass="Tooltip-lg" class="w-100" appearance="outline">
              <mat-label> Enter Additional Information</mat-label>
              <textarea maxlength="500" matInput placeholder="Enter" rows="1"
                formControlName="EnterAdditionalInformation"></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="row">
      <div class="col-md-12 text-right my-3">
        <button mat-flat-button color="primary" class="custome-button mat-primary mr-2"
          (click)="UpdateFormdata()">Save</button>
        <button mat-stroked-button class="transperent-button" color="primary" (click)="CancelData()">Clear</button>
      </div>
    </div>
  </form>
</div>
