<div class="common_submenu p-2 d-flex ">
  <div class="d-flex scroll-x">

    <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" id="admission" (click)="openAdmission()">
        <mat-icon><img src='assets/images/MenuNewIcons/admission/admission.png' /></mat-icon>
        <span class="f-18 ">Admissions</span>
      </button>
    </div>

    <div class="pr-4 ">
      <button mat-button class="d-flex align-content-center" id="procedure" (click)="openProcedure()">
        <mat-icon><img src='assets/images/MenuNewIcons/admission/procedure_req.png' /></mat-icon>
        <span class="f-18 ">Procedure Request</span>
      </button>
    </div>

  </div>
</div>