<form [formGroup]="DrugForm">
  <div style="overflow: auto; overflow-x: hidden;">
    <div class="white mt-4">
      <div class="row">
        <div class="col-lg-12 ">
          <button type="button" mat-flat-button color="primary" class="custome-button mat-primary pull-right  mr-2"
            (click)="back()">Back</button>
        </div>
      </div>
      <div class="white">
        <mat-card class="p-0" *ngIf="this.PatientID">
          <app-patient-demographic [PatID]="this.PatientID"></app-patient-demographic>
        </mat-card>
      </div>
      <mat-card class="px-3 py-1 pt-3">
        <div class="row  pb-1">
          <div class="col-lg-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Admission Number</mat-label>
              <input matInput placeholder="Admission Number" [disabled]="IsSignOff" [value]="admissionno" readonly>
            </mat-form-field>
          </div>

          <div class="col-lg-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Admission Date & Time</mat-label>
              <input matInput placeholder="Admission Date & Time" [value]="AdmissionDateTime" [disabled]="IsSignOff"
                readonly>
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>
                <span class="required-asterisk"
                      *ngIf="(DrugForm.value.RecordedDuring == '' || DrugForm.value.RecordedDuring == null) ? true : false"></span>Recorded During
              </mat-label>
              <mat-select formControlName="RecordedDuring">
                <mat-option *ngFor="let value of recordduring" [value]="value.RecordedDuringId">
                  {{value.RecordedDuringDescription}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>
                <span class="required-asterisk"
                      *ngIf="(DrugForm.value.RecordedBy == '' || DrugForm.value.RecordedBy == null) ? true : false"></span>Recorded By
              </mat-label>
              <mat-select formControlName="RecordedBy">
                <mat-option *ngFor="let value of recordby" [value]="value.ProviderName">
                  {{value.ProviderName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
    <mat-card class="my-3">
      <div class="row mt-3">
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>
              <span class="required-asterisk"
                    *ngIf="(DrugForm.value.Date == '' || DrugForm.value.Date == null) ? true : false"></span>Date
            </mat-label>
            <input matInput formControlName="Date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="w-100" [matTooltip]="drugToolTip" matTooltipPosition="above"
                          matTooltipClass="Tooltip-sm" appearance="outline">
            <mat-label>
              <span class="required-asterisk"
                    *ngIf="(DrugForm.value.Drug == '' || DrugForm.value.Drug == null) ? true : false"></span>Drug
            </mat-label>
            <mat-icon matSuffix
                      *ngIf="(DrugForm.value.Drug == '' || DrugForm.value.Drug == null) ? true : DrugForm.value.Drug.length > 2 ? false : true">
              search
            </mat-icon>
            <textarea type="text" matInput placeholder="Type and Select" [matAutocomplete]="autocpt" rows="1" #autoDrug="matAutocompleteTrigger" 
                   formControlName="Drug" maxlength="500"></textarea>

            <mat-autocomplete autoActiveFirstOption #autocpt="matAutocomplete">
              <mat-option *ngFor="let item of Drugg" (onSelectionChange)="setDrugToolTip(item.Description)"
                          [value]="item.Description ">
                {{item.NDCCode}}-{{item.Description}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>
              <span class="required-asterisk"
                    *ngIf="(DrugForm.value.Route == '' || DrugForm.value.Route == null) ? true : false"></span>Route
            </mat-label>
            <mat-select formControlName="Route">
              <mat-option *ngFor="let value of route" [value]="value.RouteDescription">
                {{value.RouteDescription}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>
              <span class="required-asterisk"
                    *ngIf="(DrugForm.value.DosageDescription == '' || DrugForm.value.DosageDescription == null) ? true : false"></span>Dosage Description
            </mat-label>
            <textarea matInput placeholder="Enter" rows="1" cols="1" formControlName="DosageDescription" maxlength="500"></textarea>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field class="w-100" [matTooltip]="drugTimeToolTip" matTooltipPosition="above"
            matTooltipClass="Tooltip-sm" appearance="outline">
            <mat-label>
              <span class="required-asterisk"
                    *ngIf="(DrugForm.value.Time == '' || DrugForm.value.Time == null) ? true : false"></span>Time
            </mat-label>
            <mat-select formControlName="Time" placeholder="time" multiple>
              <ng-container *ngFor="let departmen of Time">
                <mat-option value="{{departmen.Value}}" (click)="setDrugTimeToolTip()"> {{departmen.Value}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>
              <span class="required-asterisk"
                    *ngIf="(DrugForm.value.RateOfInflation == '' || DrugForm.value.RateOfInflation == null) ? true : false"></span>Rate Of Infusion
            </mat-label>
            <input matInput placeholder="Enter" formControlName="RateOfInflation" maxlength="75">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>
              <span class="required-asterisk"
                    *ngIf="(DrugForm.value.Frequency == '' || DrugForm.value.Frequency == null) ? true : false"></span>Frequency
            </mat-label>
            <textarea matInput placeholder="Enter" rows="1" cols="1" formControlName="Frequency" maxlength="75"></textarea>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field class="w-100" [matTooltip]="DrugForm.get('orderingPhysician').value"
                          matTooltipPosition="above" matTooltipClass="Tooltip-md" appearance="outline">
            <mat-label>
              <span class="required-asterisk"
                    *ngIf="(DrugForm.value.orderingPhysician == '' || DrugForm.value.orderingPhysician == null) ? true : false"></span>Ordering Physician
            </mat-label>
            <mat-icon matSuffix
                      *ngIf="(DrugForm.value.orderingPhysician == '' || DrugForm.value.orderingPhysician == null) ? true : DrugForm.value.orderingPhysician.length > 2 ? false : true">
              search
            </mat-icon>
            <textarea type="text" matInput placeholder="Type and Select" #autoOrderingPhysician="matAutocompleteTrigger"  [matAutocomplete]="autocpta" rows="1"
                   formControlName="orderingPhysician" maxlength="50"></textarea>
            <mat-autocomplete autoActiveFirstOption #autocpta="matAutocomplete">
              <mat-option *ngFor="let patList of orderPhysician" [value]="patList.ProviderName">
                {{patList.ProviderName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Stop Medicine On</mat-label>
            <textarea matInput placeholder="Enter" rows="1" cols="1" formControlName="StopMedicine" maxlength="500"></textarea>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Additional Notes</mat-label>
            <textarea matInput placeholder="Enter" rows="1" cols="1" formControlName="AdditionalNotes"maxlength="500"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
    <div class="text-right w-3 col-xl-12 pb-2 pt-2">
      <div>
        <button type="button" mat-flat-button color="primary" class="custome-button mat-primary mr-2" [hidden]="isShow"
          (click)="save()">Save</button>
        <button type="button" mat-stroked-button class="transperent-button" [hidden]="isShow"
          (click)="clear()">Clear</button>
      </div>
    </div>
    <div class="overflow-hidden px-4 pb-3">
      <br />
      <div>
        <mat-card class="table-wrapper w-100 row" *ngIf="tableToBeShow">
          <h4>Drug Chart </h4>
          <div>
            <div>
              <mat-card-content>
                <div class="row">
                  <app-bms-table [config]="tableConfig" [datas]="griddata" (viewItem)="openViewRecord($event)"
                                 (editItem)="openEditRecord($event)" (deleteItem)="deleterecord($event)"></app-bms-table>
                </div>
              </mat-card-content>
            </div>
          </div>
        </mat-card>
        <mat-card *ngIf="!tableToBeShow">
          <h3>No Record Found</h3>
        </mat-card>
      </div>
    </div>
    <mat-card class="my-3">
      <div class="row">
        <div class="col-lg-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter User Name" formControlName="UserName" maxlength="50"/>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter Password" formControlName="Password" maxlength="35"/>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-lg-3">
          <button mat-flat-button color="primary" class="custome-button mat-primary pull-right mr-2"
            (click)="back()">Back</button>

          <button mat-flat-button color="primary" class="custome-button mat-primary pull-right " [hidden]="isShow"
            (click)="signOffModel()">
            SignOff
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</form>
